body {
    margin: 0;
    padding: 0;
    background-color: #ffe09c;
}

#board{
    height: 100vh;
    position: relative;
}

#player{
    background-color: cornflowerblue;
    position: absolute;
}
.ennemi{
    background-color: mediumpurple;
    position: absolute;
}